dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.swc
*.local
.idea
.vscode
*.ini
project.config.json
project.private.config.json
# 忽略生产配置
springboot/src/main/resources/application-prod.yml

